{% extends 'base.html' %}
{% block title %}Setor{% endblock %}

{% block content %}
    <div id="content-container" class="container p-none">
        <div class="lgn-container col-lg-8">
            <form id="setor-form" method="post"
                  action="{% url 'app.views.cadastrar_setor' %}">
                {% csrf_token %}
                <h4>Cadastro de Setor</h4>
                <br/><br/>
                {{form.as_p}}
                <br/><br/>
                <div class="row">
                    <div class="input-field">
                        <button class="btn right orange darken-4" type="submit" name="submit">Cadastrar</button>
                        <input type="hidden" name="next" value="/setores_list" />
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}