{% extends 'base.html' %}
{% block title %}Cadastro{% endblock %}

{% block content %}
    <div id="content-container" class="container p-none">
        <div class="row">
            <form id="register-form" method="post" class="col s12"
                  action="{% url 'app.views.cadastroUsuario' %}">
                {% csrf_token %}
                <h4>Cadastro de Usuário</h4>
                <script>
                setorCampus = {{setorCampus|safe}};
                function vinculaSetorCampusDinamicamente(jQuery){
                    jQuery('#id-setor>option').
                        each(
                            function(_,obj){
                                if(parseInt(obj.value)){
                                    $(obj).
                                        addClass(
                                            ''+setorCampus[''+obj.value]
                                        )
                                }
                            }
                        )
                    ;
                    $("#id-setor").chained("#id-campus");
                };
                function tentaVincularSetorCampusDinamicamente(){
                    if(typeof($)==='undefined'){
                        setTimeout(function(){tentaVincularSetorCampusDinamicamente();},100);
                    }else{
                        vinculaSetorCampusDinamicamente($);
                    }
                }
                tentaVincularSetorCampusDinamicamente();
                </script>
                <br/>
                <div class="form">
                    {{formUser.as_p}}
                    {{formParcialSetor.as_p}}
                    {{formUsuario.as_p}}
                </div>
                <div class="input-field col s12">
                    <button class="btn right orange darken-4" type="submit">Enviar</button>
                    <input type="hidden" name="next" value="/" />
                </div>

            </form>
        </div>
    </div>
{% endblock content %}