{% extends 'base.html' %}
{% block title %}Campus{% endblock %}

{% block content %}
<div id="content-container" class="container p-none">
        <div class="lgn-container col-lg-8">
            <form id="campus-form" method="post"
                  action="{% url 'app.views.campus' %}">
                {% csrf_token %}
                 <h4>Cadastro de Campus</h4>
                <br/><br/>
                {% if messages %}
                    {% for message in messages %}
                    <div class="row" style="margin:0px;">
                        <div class="col s10 offset-s1">
                            <p id="mensagem" class="center-align card-panel teal lighten-2 messages">
                                {{ message }}
                            </p>
                         </div>
                     </div>
                    {% endfor %}
                {% endif %}
                 <div class="input-field">
                    {{form.as_p}}
                </div>

                <div class="row">
                    <button class="btn right orange darken-4" type="submit" name="submit">Cadastrar</button>
                    <input type="hidden" name="next" value="/campi_list" />
                </div>
            </form>
        </div>
    </div>

{%  endblock %}