{% extends 'base.html' %}

{% block content %}
    <div id="content-container" class="container p-none">
        <div class="row">
            <form id="register-form" method="post" class="col s12"
                  action="{% url 'app.views.user_detail' pk=user.pk%}">
                {% csrf_token %}
                <h3>Editar dados cadastrais</h3>
                <script>
                setorCampus = {{setorCampus|safe}};
                function vinculaSetorCampusDinamicamente(jQuery){
                    jQuery('#id-setor>option').
                        each(
                            function(_,obj){
                                if(parseInt(obj.value)){
                                    $(obj).
                                        addClass(
                                            ''+setorCampus[''+obj.value]
                                        )
                                }
                            }
                        )
                    ;
                    $("#id-setor").chained("#id-campus");
                };
                function tentaVincularSetorCampusDinamicamente(){
                    if(typeof($)==='undefined'){
                        setTimeout(function(){tentaVincularSetorCampusDinamicamente();},100);
                    }else{
                        vinculaSetorCampusDinamicamente($);
                    }
                }
                tentaVincularSetorCampusDinamicamente();
                </script>
                {% if messages %}
                <div class="col s12">
                    <ul class="messages">
                        {% for message in messages %}
                        <li {% if message.tags %} class="center-align card-panel teal lighten-2  {{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
                <div class="form">
                    {{formUser.as_p}}
                    {{formParcialSetor.as_p}}
                    {{formUsuario.as_p}}
                </div>
                <div class="input-field col s12">
                    <button class="btn right orange darken-4" type  ="submit">Salvar</button>
                </div>

            </form>
        </div>
	</div>
                     
{% endblock content %}