{% extends 'base.html' %}
{% block title %}Setor{% endblock %}

{% block content %}
    <div id="content-container" class="container p-none">
        <div class="lgn-container col-lg-8">
            <form id="setor-edit" method="post"
                  action="{% url 'app.views.levantamento_edit' pk=tipologia.pk %}">
                {% csrf_token %}

                <br/><br/>
                <div class="form">
                    {{form.as_p}}
                    
                </div>

               <div class="input-field col s12">
                    <button id="botao_enviar" class="btn right orange darken-4" type="submit" name="submit_enviar" value="0">Enviar</button>
                    <button id="botao_salvar" class="btn right orange darken-4" type="submit" name="submit_salvar" value="1">Salvar</button>
                    <input type="hidden" name="next" value="/levantamento_list" />
                </div>
                <br/><br/>
            </form>
        </div>
    </div>
{% endblock content %}