{% extends 'base.html' %}
{% block title %}Tipologia{% endblock %}

{% block content %}
    <div id="content-container" class="container p-none">
        <div class="lgn-container col-lg-8">
            <form id="levantamento-edit" method="post"
                  action="{% url 'app.views.levantamento_edit' pk=tipologia.pk %}">
                {% csrf_token %}

                <br/><br/>
                <div class="form">
                    {{form.as_p}}
                    
                </div>

               <div class="input-field col s12">
                    <div class="input-field">
                        <button id="botao_enviar"  data-target="modal" class="btn right orange darken-4 modal-trigger" >Enviar</button>
                         <!-- Modal Structure -->
                        <div id="modal" class="modal ">
                            <div class="modal-content">
                                <h4>Mensagem de confirmaçao</h4>
                                <p>Tem certeza que deseja enviar este formulário? Após o envio não será mais possível editá-lo.</p>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class=" modal-action modal-close waves-effect waves-green btn-flat" name="submit_enviar" value="0">Sim</button>
                                <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Nao</a>
                            </div>
                        </div>
                        <button id="botao_salvar" class="btn right orange darken-4" type="submit" name="submit_salvar" value="1">Salvar</button>
                        <input type="hidden" name="next" value="/levantamento_list" />
                    </div>
                </div>
                <br/><br/>
            </form>
        </div>
    </div>
{% endblock content %}