#form-login{
    margin-top:10%;
    box-sizing:border-box;
}

#form-login label{
    color:#fff !important;
    font-weight:bold;
    font-size:16px;
}

#botao-login{
    position:relative;
    left:38%;
}

.cadastrar{
    position:fixed;
    left:82%;
    top:82%;
}