{% extends 'base.html' %}
{% block title %}Setor{% endblock %}

{% block content %}
    <div id="content-container" class="container p-none">
        <div class="lgn-container col-lg-8">
            <form id="setor-form" method="post"
                  action="{% url 'app.views.Setor' %}">
                {% csrf_token %}
                <h4>Cadastro de Setor</h4>
                <br/><br/>
                <table class="table">

                    <label for="nome">Nome</label>
                    <input type="text" id="nome" class="validate" name="nome">
                    <label for="nome">Sigla</label>
                    <input type="text" id="sigla" class="validate" name="sigla">
                    <label for="nome">Função</label>
                    <input type="text" id="funcao" class="validate" name="funcao">
                    <label for="nome">Descrição</label>
                    <input type="text" id="descricao" class="validate" name="descricao">

                    <div class="row">
                        <input type="submit" value="Cadastrar" class="btn btn-primary col s4 offset-s1"/>
                    </div>

                </table>
            </form>
        </div>
    </div>
{% endblock content %}