{% extends 'base.html' %}
{% block title %}Categoria{% endblock %}

{% block content %}
    <div id="content-container" class="container p-none">
        <div class="lgn-container col-lg-8">
            <form>
                {% csrf_token %}

                <br/><br/>
                <table>
                    <thead>
                        <tr>
                            <th>Categorias</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for categoria in categorias %}
                        <tr>
                            <td>{{ categoria }}</td>
                            <td>
                                <a class="btn-floating waves-effect waves-light green darken-1" href="{% url 'categoria_edit' pk=categoria.pk %}">
                                    <i class="material-icons">mode_edit</i>
                                </a>

                                 <a class="btn-floating waves-effect waves-light red" href="{% url 'categoria_remove' pk=categoria.pk %}">
                                    <i class="material-icons">delete</i>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <a href="{% url 'app.views.categoria' %}" class="cadastrar btn-floating btn-large waves-effect waves-light amber darken-4 right">
                    <i class="material-icons right">add</i>
                </a>
            </form>
        </div>
    </div>
{% endblock content %}