{% extends 'base.html' %}
{% block title %}Categoria{% endblock %}

{% block content %}
    <div id="content-container" class="container p-none">
        <div class="lgn-container col-lg-8">
            <form id="categoria-edit" method="post"
                  action="{% url 'app.views.categoria_edit' %}">
                {% csrf_token %}

                <br/><br/>
                <table class="table">

                    <label for="nome">Categoria</label>
                    <input type="text" id="nome" class="validate" name="nome" value="{{ categoria.nome }}">

                    <div class="row">
                        <input type="submit" value="Salvar" class="btn btn-primary col s4 offset-s1"/>
                    </div>

                </table>
            </form>
        </div>
    </div>
{% endblock content %}