{% extends 'base.html' %}
{% block title %}Login{% endblock %}

{% block content %}
    {% if form.errors %}
        <div class="col s3">
            <p class="center-align card-panel teal lighten-2">
                Usuário ou senha incorretos.
                Tente novamente.
            </p>
         </div>
    {% endif %}

    <div class="row">
        <div id= "form-login" class="col s4 offset-s4">
            <div class="card-panel blue-grey lighten-3 white-text">
                <form id="login-form" method="post"
                      action="{% url 'django.contrib.auth.views.login' %}">
                    {% csrf_token %}


                            <label for="id_username">SIAPE</label>
                            <input id="id_username" name="username"
                                       type="text" class="validate">

                            <label for="id_password">Senha:</label>
                            <input id="id_password" name="password"
                                       type="password" class="validate">

    <br/><br/>

                    <input id="botao-login" type="submit" value="Login"
                           class="btn amber darken-4" />
                    <input type="hidden" name="next" value="/home" />
                </form>
            </div>
        </div>
    </div>
{% endblock content %}