{% extends 'base.html' %}
{% block title %}Login{% endblock %}

{% block content %}
    <div class="page-header">
        <nav>
            <div class="nav-wrapper grey darken-4">
                <a href="/" class="brand-logo logo">GDE</a>
                    <ul class="right hide-on-med-and-down">
                      <li><a href="{% url 'app.views.cadastroUsuario' %}">Cadastre-se</a></li>
                    </ul>
            </div>
        </nav>
    </div>

    {% if form.errors %}
        <div class="col s3">
            <p class="center-align card-panel teal lighten-2">
                Usuário ou senha incorretos.
                Tente novamente.
            </p>
         </div>
    {% endif %}

    <div id="content-container" class="container p-none">
        <div class="lgn-container col-lg-8">
            <form id="login-form" method="post"
                  action="{% url 'django.contrib.auth.views.login' %}">
                {% csrf_token %}
                <table class="table">
                    <tr>
                        <td><label for="id_username">SIAPE</label></td>
                        <td><input id="id_username" name="username"
                                   type="text" class="validate"></td>
                    </tr>
                    <tr>
                        <td><label for="id_password">Password</label></td>
                        <td><input id="id_password" name="password"
                                   type="password" class="validate"></td>
                    </tr>
                </table>


                <input type="submit" value="Login"
                       class="btn btn-primary pull-right" />
                <input type="hidden" name="next" value="/home" />
            </form>
        </div>
    </div>
{% endblock content %}