{% extends 'login_base.html' %}
{% block title %}Login{% endblock %}

{% block content %}
    {% if form.errors %}
        <div class="col s3">
            <p class="center-align card-panel teal lighten-2">
                Usuário ou senha incorretos.
                Tente novamente.
            </p>
         </div>
    {% endif %}

    <div class="row">
        <div id= "form-login" class="col s4 offset-s4">
            <div class="card-panel orange lighten-4 z-depth-4">
                <form id="login-form" method="post"
                      action="{% url 'django.contrib.auth.views.login' %}">
                    {% csrf_token %}


                            <label for="id_username">SIAPE</label>
                            <input id="id_username" name="username"
                                       type="text" class="validate">

                            <label for="id_password">Senha:</label>
                            <input id="id_password" name="password"
                                       type="password" class="validate">

    <br/><br/>

                    <button id="botao-login" class="btn grey z-depth-2" type="submit" name="action">Login</button>
                    <input type="hidden" name="next" value="/home" />
                    <ul class="center hide-on-med-and-down">
                          <li><a href="#">Esqueceu a senha?</a></li>
                    </ul>
                    <ul class="center hide-on-med-and-down">
                          <li><b>Ainda não tem uma conta? </b><a href="{% url 'app.views.cadastroUsuario' %}">Cadastre-se</a></li>
                    </ul>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}